[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service

[Service]
Type=simple
User=user
ExecStart=/usr/sbin/roslaunch

[Install]
WantedBy=multi-user.target
