<launch>
    <arg name="mocap_ip" default="192.168.1.12"/>

    <arg name="rigid_body_name" default="sparksdrone"/>

    <node name="mocap_wrapper" pkg="softdrone_core" type="mocap_wrapper" output="screen">
        <param name="mocap_ip" value="$(arg mocap_ip)"/>
        <param name="publish_rate" value="50.0"/>
        <remap from="vicon" to="/$(arg rigid_body_name)/world"/>
    </node>

</launch>
