<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="optitrack" type="optitrack" name="optitrack" output="screen">
        <rosparam command="load" file="$(find softdrone_core)/config/pose_estimator_node.yaml"/>
        <remap from="/sparksdrone/world" to="/sparksdrone2/world"/>
    </node>
</launch>

