<launch>

    <arg name="num_repeats" default="3"/>

    <node pkg="intel_aero_ros" type="pattern_follower_node" name="pattern_follower_node" output="screen">
        <remap from="state" to="/mavros/state"/>
        <remap from="pose" to="/mavros/local_position/pose"/>
        <remap from="target" to="/mavros/setpoint_position/local"/>
        <!-- pattern parameter controls -->
        <param name="x_size" value="-1.5"/>
        <param name="y_size" value="1.5"/>
        <param name="dist_threshold" value="0.3"/>
        <param name="pose_timeout" value="3.0"/>
        <param name="num_repeasts" value="$(arg num_repeats)"/>
    </node>

</launch>
