<?xml version="1.0"?>
<launch>

    <include file="$(find softdrone_core)/launch/master.launch">
        <arg name="launch_mavros" value="true"/>
        <arg name="launch_robot_state_publisher" value="true" />
        <arg name="launch_t265" value="true"/>
        <arg name="launch_odom_static_transforms" value="true"/>
        <arg name="launch_mavros_odom_to_tf" value="true"/>
    </include>
</launch>

