<?xml version="1.0"?>
<launch>

    <arg name="launch_fake_mavros_node" default="false"/>
    <arg name="launch_mavros" default="false"/>
    <arg name="launch_fake_observation_node" default="false"/>
    <arg name="launch_fake_target_node" default="false"/>
    <arg name="launch_gripper_node" default="false"/>
    <arg name="launch_gripper_gpio_node" default="false"/>
    <arg name="launch_polynomial_planner_node" default="false"/>
    <arg name="launch_t265_odom_to_tf" default="false"/>
    <arg name="launch_grasp_state_machine_node" default="false"/>
    <arg name="launch_tracker_node" default="false" doc="Use EKF target tracker?" />
    <arg name="launch_dummy_tracker_node" default="false"/>
    <arg name="launch_robot_state_publisher" default="false" doc="Use robot state publisher to get static transform + mesh?"/>
    <arg name="launch_rviz" default="false"/>
    <arg name="launch_t265" default="false"/>
    <arg name="launch_d455" default="false"/>
    <arg name="launch_odom_static_transforms" default="false"/>
    <arg name="launch_mavros_odom_to_tf" default="false"/>
    <arg name="launch_keypoint_detector_node" default="false"/>
    <arg name="launch_reproject_keypoints_node" default="false"/>
    <arg name="launch_pose_estimator_node" default="false"/>
    <arg name="launch_plotter_node" default="false"/>
    <arg name="launch_trajectory_visualizer_node" default="false"/>
    <arg name="launch_optitrack" default="false"/>
    <arg name="launch_add_mocap_tf_node" default="false"/>
    <arg name="launch_trajectory_to_mocap_frame_node" default="false"/>
    <arg name="launch_mocap_translator" default="false"/>
    <arg name="launch_gtsam_tracker_node" default="false"/>
    <arg name="launch_rollout_node" default="false"/>
    <arg name="launch_gtsam_tracker_node_secondary_mocap" default="false"/>

    <arg name="camera_odom_passthrough" default="false" doc="Fake mavros publishes t265 odometry as if it were from mavros"/>
    <arg name="sim_target_as_tracker_output" default="$(eval (not arg('launch_tracker_node')) and (not arg('launch_gtsam_tracker_node')))" doc="Map the simulated target pose to the tracker output topic"/>

    <!-- Parameters for simulated target. Used if simulate_perception is true -->
    <arg name="target_motion" default="stationary" doc="Simulated target motion type: {stationary, circle, rotating}"/>
    <arg name="target_x" default="2" doc="Simulated target x center"/>
    <arg name="target_y" default="2" doc="Simulated target y center"/>
    <arg name="target_theta" default="0" doc="Simulated target heading"/>
    <arg name="target_radius" default="1" doc="Simulated target circle radius"/>
    <arg name="target_speed" default="0.1" doc="Simulated target speed"/>

    <!-- tells nodes downstream of the tracker output which tracker to listen to -->
    <arg name="tracker_ns" default="$(eval 'tracker_node' if (arg('launch_tracker_node') or not arg('launch_gtsam_tracker_node')) else 'gtsam_tracker_node')"/>

    <!-- Simulate mavros -->
    <include if="$(arg launch_fake_mavros_node)" file="$(find softdrone_core)/launch/nodes/fake_mavros.launch">
        <arg name="camera_odom_passthrough" value="$(arg camera_odom_passthrough)"/>
    </include>

    <!-- Launch (actual) mavros -->
    <include if="$(arg launch_mavros)" file="$(find softdrone_core)/launch/nodes/mavros.launch">
        <arg name="sitl" default="false"/>
        <arg name="gcs_ip" default=""/>
    </include>

    <!-- Launch the simulated target node -->
    <group if="$(arg launch_fake_target_node)">
        <remap unless="$(arg sim_target_as_tracker_output)" from="~target_global" to="/sparkgrasptar/world"/>
        <remap if="$(arg sim_target_as_tracker_output)" from="~target_global" to="/$(arg tracker_ns)/target_global_odom_estimate"/>

        <include file="$(find softdrone_core)/launch/nodes/fake_target_node.launch">
            <arg name="x" value="$(arg target_x)"/>
            <arg name="y" value="$(arg target_y)"/>
            <arg name="theta" value="$(arg target_theta)"/>
            <arg name="radius" value="$(arg target_radius)"/>
            <arg name="speed" value="$(arg target_speed)"/>
            <arg name="target_motion" value="$(arg target_motion)"/>
        </include>
    </group>


    <!-- Launch the core grasp state machine logic -->
    <group if="$(arg launch_grasp_state_machine_node)">

        <remap from="~state" to="/mavros/state"/>
        <remap from="~pose" to="/mavros/local_position/pose"/>
        <remap from="~waypoint_polynomial" to="polynomial_planner_node/waypoint_polynomial"/>
        <remap from="~grasp_trajectory" to="polynomial_planner_node/grasp_trajectory"/>
        <remap from="~grasp_target" to="/$(arg tracker_ns)/target_global_odom_estimate"/>
        <remap from="~grasp_target_mocap" to="/sparkgrasptar/world"/>
        <remap from="~target" to="/mavros/setpoint_raw/local"/>
        <remap from="~lengths" to="gripper_node/lengths"/>
        <remap from="~tracker_reset" to="gtsam_tracker_node/reset_target_estimator"/>

        <include file="$(find softdrone_core)/launch/nodes/grasp_state_machine_node.launch"/>
    </group>

    <group if="$(arg launch_trajectory_visualizer_node)" >
        <remap from="~waypoint_polynomial" to="polynomial_planner_node/waypoint_polynomial"/>
        <remap from="~grasp_trajectory" to="polynomial_planner_node/grasp_trajectory"/>
        <include file="$(find softdrone_core)/launch/nodes/trajectory_visualizer_node.launch"/>
    </group>


    <group if="$(arg launch_gripper_node)">
        <include file="$(find softdrone_core)/launch/nodes/gripper.launch"/>
    </group>

    <group if="$(arg launch_gripper_gpio_node)">
        <include file="$(find softdrone_core)/launch/nodes/gripper_gpio.launch"/>
    </group>

    <!-- Launch the simulated perception logic -->
    <group if="$(arg launch_fake_observation_node)">
        <remap from="~target_rel_obs" to="pose_estimator_node/estimated_pose_out" />
        <remap from="~drone_pose" to="/mavros/local_position/pose"/>
        <remap from="~target_global" to="/sparkgrasptar/world"/>
        <include file="$(find softdrone_core)/launch/nodes/fake_observation_node.launch"/>
    </group>

    <group if="$(arg launch_d455)">
        <include file="$(find softdrone_core)/launch/nodes/d455.launch">
        <!--<include file="$(find realsense2_camera)/launch/rs_rgbd.launch">-->
            <arg name="camera" value="target_cam"/>
            <!--<arg name="device_type" value="d455"/>-->

            <!--<arg name="depth_width" value="1280"/>
            <arg name="depth_height" value="800"/>
            <arg name="depth_fps" value="30"/>

            <arg name="color_width" value="1280"/>
            <arg name="color_height" value="800"/>
            <arg name="color_fps" value="30"/>-->
        </include>
    </group>

    <group if="$(arg launch_t265)">
        <remap from="/nav_cam/odom/sample" to="/mavros/odometry/out"/>
        <include file="$(find realsense2_camera)/launch/rs_t265.launch">
            <arg name="publish_odom_tf" value="false"/>
            <arg name="enable_fisheye1" value="false"/>
            <arg name="enable_fisheye2" value="false"/>
            <arg name="camera" value="nav_cam"/>
        </include>
    </group>

    <group if="$(arg launch_t265_odom_to_tf)">
        <remap from="camera_odom" to="/mavros/odometry/out"/>
        <include file="$(find softdrone_core)/launch/nodes/t265_odom_to_tf.launch"/>
    </group>

    <!-- Launch the trajectory planner. -->
    <group if="$(arg launch_polynomial_planner_node)">
        <remap from="~pose" to="/mavros/local_position/pose"/>
        <remap from="~twist" to="/mavros/local_position/twist"/>
        <remap from="~waypoint" to="/grasp_state_machine_node/waypoint"/>
        <remap from="~grasp_trajectory_request" to="/grasp_state_machine_node/grasp_trajectory_request"/>
        <remap from="~waypoint_trajectory_request" to="/grasp_state_machine_node/waypoint_trajectory_request"/>
        <remap from="~waypoint_trajectory_target_frame_request" to="/grasp_state_machine_node/waypoint_trajectory_target_frame_request"/>

        <remap from="~target_pose" to="$(arg tracker_ns)/target_global_pose_estimate"/>
        <remap from="~target_odom" to="$(arg tracker_ns)/target_global_odom_estimate"/>
        <include file="$(find softdrone_core)/launch/nodes/polynomial_planner_node.launch" />
    </group>

    <!-- Launch visualization -->
    <include if="$(arg launch_rviz)" file="$(find softdrone_core)/launch/nodes/rviz.launch"/>

    <!-- Launch robot state publisher -->
    <include if="$(arg launch_robot_state_publisher)" file="$(find softdrone_core)/launch/nodes/robot_state_publisher.launch"/>

    <group if="$(arg launch_odom_static_transforms)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_t265_odom" args="0 0 0 0 0 1 0 odom nav_cam_odom_frame" />
    </group>

    <include if="$(arg launch_mavros_odom_to_tf)" file="$(find softdrone_core)/launch/nodes/mavros_odom_to_tf.launch"/>

    <!-- Launching Perception Stack -->
    <group if="$(arg launch_keypoint_detector_node)">
        <remap from="~rgb_img_in" to="target_cam/color/image_raw"/>
        <remap from="~rgb_img_in/compressed" to="target_cam/color/image_raw/compressed"/>
        <include file="$(find softdrone_core)/launch/nodes/keypoint_detector_node.launch" />
    </group>

    <group if="$(arg launch_reproject_keypoints_node)">
        <remap from="~keypoints_2d_in" to="keypoint_detector_node/keypoints_out"/>
        <remap from="~depth_img_in" to="/depth_registered/image_rect"/>
        <remap from="~rgb_cam_info_in" to="target_cam/color/camera_info"/>
        <include file="$(find softdrone_core)/launch/nodes/reproject_keypoints_node.launch" />
    </group>

    <group if="$(arg launch_pose_estimator_node)" >
        <remap from="~keypoints_3d_in" to="reproject_keypoints_node/keypoints_3d_out"/>
        <include file="$(find softdrone_core)/launch/nodes/pose_estimator_node.launch" />
    </group>

    <group if="$(arg launch_plotter_node)" >
        <remap from="~rgb_img_in" to="target_cam/color/image_raw"/>
        <remap from="~rgb_img_in/compressed" to="target_cam/color/image_raw/compressed"/>
        <remap from="~cad_keypoints_in" to="pose_estimator_node/transformed_cad_out"/>
        <!--remap from="~estimated_pose_in" to="pose_estimator_node/estimated_pose_out"/-->
        <remap if="$(arg sim_target_as_tracker_output)" from="~estimated_pose_in" to="$(arg tracker_ns)/target_global_pose_estimate_debug"/>
        <remap unless="$(arg sim_target_as_tracker_output)" from="~estimated_pose_in" to="$(arg tracker_ns)/target_global_pose_estimate"/>
        <include file="$(find softdrone_core)/launch/nodes/plotter_node.launch" />
    </group>

    <!-- Launch the EKF estimator that updates estimate of target's state -->
    <group if="$(arg launch_tracker_node)">
        <remap from="~agent_odom" to="/mavros/odometry/in"/>
        <remap from="~estimated_relative_pose" to="pose_estimator_node/estimated_pose_out"/>
        <remap if="$(arg sim_target_as_tracker_output)" from="~target_global_pose_estimate" to="~target_global_pose_estimate_debug"/>
        <include file="$(find softdrone_core)/launch/nodes/tracker_node.launch"/>
    </group>

    <group if="$(arg launch_dummy_tracker_node)">
        <remap from="~agent_odom_out" to="/mavros/odometry/in"/>
        <include file="$(find softdrone_core)/launch/nodes/dummy_tracker_node.launch"/>
    </group>

    <group if="$(arg launch_optitrack)">
        <include file="$(find softdrone_core)/launch/nodes/optitrack.launch"/>
    </group>

    <group if="$(arg launch_add_mocap_tf_node)">
        <remap from="~mocap_pose" to="/mavros/vision_pose/pose"/>
        <include file="$(find softdrone_core)/launch/nodes/add_mocap_tf_node.launch"/>
    </group>

    <group if="$(arg launch_trajectory_to_mocap_frame_node)">
        <remap from="~grasp_trajectory" to="polynomial_planner_node/grasp_trajectory"/>
        <include file="$(find softdrone_core)/launch/nodes/trajectory_to_mocap_frame_node.launch"/>
    </group>

    <group if="$(arg launch_mocap_translator)">
        <include file="$(find softdrone_core)/launch/nodes/mocap_translator.launch"/>
    </group>

    <group if="$(arg launch_gtsam_tracker_node)">
        <remap from="~agent_odom" to="/mavros/odometry/in"/>
        <remap from="~estimated_relative_pose" to="pose_estimator_node/estimated_pose_out"/>
        <include file="$(find softdrone_core)/launch/nodes/gtsam_tracker_node.launch"/>
    </group>

    <group if="$(arg launch_gtsam_tracker_node_secondary_mocap)">
        <remap from="~agent_pose" to="/mocap_wrapper/pose_wc"/>
        <remap from="~estimated_relative_pose" to="pose_estimator_node/estimated_pose_out"/>
        <include file="$(find softdrone_core)/launch/nodes/gtsam_tracker_node.launch">
            <arg name="name" value="gtsam_tracker_node_secondary"/>
        </include>
    </group>

    <group if="$(arg launch_rollout_node)">
        <remap from="~observed" to="gtsam_tracker_node/target_global_odom_estimate"/>
        <remap from="~predicted" to="gtsam_tracker_node/predicted_target_global_pose_estimate"/>
        <include file="$(find softdrone_core)/launch/nodes/rollout_node.launch"/>
    </group>

</launch>

