<?xml version="1.0"?>
<launch>

    <arg name="launch_fake_mavros_node" default="false"/>
    <arg name="launch_mavros" default="false"/>
    <arg name="launch_fake_observation_node" default="false"/>
    <arg name="launch_fake_target_node" default="false"/>
    <arg name="launch_gripper_node" default="false"/>
    <arg name="launch_polynomial_planner_node" default="false"/>
    <arg name="launch_t265_odom_to_tf" default="false"/>
    <arg name="launch_grasp_state_machine_node" default="false"/>
    <arg name="launch_tracker_node" default="false" doc="Use EKF target tracker?" />
    <arg name="launch_robot_state_publisher" default="false" doc="Use robot state publisher to get static transform + mesh?"/>
    <arg name="launch_rviz" default="false"/>
    <arg name="launch_t265" default="false"/>
    <arg name="launch_d455" default="false"/>
    <arg name="launch_odom_static_transforms" default="false"/>


    <arg name="camera_odom_passthrough" default="false" doc="Fake mavros publishes t265 odometry as if it were from mavros"/>
    <arg name="sim_target_as_tracker_output" default="$(eval not arg('launch_tracker_node'))" doc="Map the simulated target pose to the tracker output topic"/>

    <!-- Parameters for simulated target. Used if simulate_perception is true -->
    <arg name="target_motion" default="stationary" doc="Simulated target motion type: {stationary, circle, rotating}"/>
    <arg name="target_x" default="2" doc="Simulated target x center"/>
    <arg name="target_y" default="2" doc="Simulated target y center"/>
    <arg name="target_radius" default="1" doc="Simulated target circle radius"/>
    <arg name="target_speed" default="0.1" doc="Simulated target speed"/>

    <!-- Simulate mavros -->
    <include if="$(arg launch_fake_mavros_node)" file="$(find softdrone_core)/launch/nodes/fake_mavros.launch">
        <arg name="camera_odom_passthrough" value="$(arg camera_odom_passthrough)"/>
    </include>

    <!-- Launch (actual) mavros -->
    <include if="$(arg launch_mavros)" file="$(find softdrone_core)/launch/nodes/mavros.launch">
        <arg name="sitl" default="false"/>
        <arg name="gcs_ip" default=""/>
    </include>

    <!-- Launch the simulated target node -->
    <group if="$(arg launch_fake_target_node)">
        <remap if="$(arg sim_target_as_tracker_output)" from="/sparkgrasptar/world" to="/tracker/target/pose"/>
        <include file="$(find softdrone_core)/launch/nodes/fake_target_node.launch">
            <arg name="x" value="$(arg target_x)"/>
            <arg name="y" value="$(arg target_y)"/>
            <arg name="radius" value="$(arg target_radius)"/>
            <arg name="speed" value="$(arg target_speed)"/>
            <arg name="target_motion" value="$(arg target_motion)"/>
        </include>
    </group>


    <!-- Launch the core grasp state machine logic -->
    <group if="$(arg launch_grasp_state_machine_node)">
        <remap from="/sparkgrasptar/world" to="/tracker/target/pose"/>
        <include file="$(find softdrone_core)/launch/nodes/grasp_state_machine_node.launch">
            <arg name="use_gripper" value="$(arg launch_gripper_node)"/>
        </include>
    </group>

    <!-- Launch the simulated perception logic -->
    <include if="$(arg launch_fake_observation_node)" file="$(find softdrone_core)/launch/nodes/fake_observation_node.launch"/>

    <group if="$(arg launch_d455)">
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
            <arg name="camera" value="target_cam"/>
            <arg name="device_type" value="d455"/>
        </include>
    </group>

    <group if="$(arg launch_t265)">
        <remap from="/nav_cam/odom/sample" to="/mavros/odometry/out"/>
        <include file="$(find realsense2_camera)/launch/rs_t265.launch">
            <arg name="publish_odom_tf" value="false"/>
            <arg name="camera" value="nav_cam"/>
        </include>
    </group>

    <group if="$(arg launch_t265_odom_to_tf)">
        <remap from="camera_odom" to="/mavros/odometry/out"/>
        <include file="$(find softdrone_core)/launch/nodes/t265_odom_to_tf.launch"/>
    </group>


    <!-- Launch the EKF estimator that updates estimate of target's state -->
    <group if="$(arg launch_tracker_node)">
        <remap from="agent_odom" to="/mavros/odometry/in"/>
        <remap from="relative_pose_observation" to="/perception/target_rel_estimate"/>
        <remap from="target_global_pose_estimate" to="/tracker/target/pose"/>
        <include file="$(find softdrone_target_tracking)/launch/tracker.launch"/>
    </group>

    <!-- Launch the trajectory planner. -->
    <group if="$(arg launch_polynomial_planner_node)">
        <remap from="pose" to="/mavros/local_position/pose"/>
        <remap from="twist" to="/mavros/local_position/twist"/>
        <!--remap from="waypoint" to=""/-->
        <remap from="target_pose" to="/tracker/target/pose"/>
        <include file="$(find softdrone_core)/launch/nodes/polynomial_planner_node.launch" />
    </group>

    <!-- Launch visualization -->
    <include if="$(arg launch_rviz)" file="$(find softdrone_core)/launch/nodes/rviz.launch"/>

    <!-- Launch robot state publisher -->
    <include if="$(arg launch_robot_state_publisher)" file="$(find softdrone_core)/launch/nodes/robot_state_publisher.launch"/>

    <group if="launch_odom_static_transforms">
        <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 1000" />
        <node pkg="tf" type="static_transform_publisher" name="odom_to_t265_odom" args="0 0 0 0 0 3.14159 odom nav_cam_odom_frame 1000" />
    </group>

</launch>
