<?xml version="1.0"?>
<launch>

    <!-- Parameters for simulated target. Used if simulate_perception is true -->
    <arg name="target_motion" default="stationary" doc="Simulated target motion type: {stationary, circle, rotating}"/>
    <arg name="target_x" default="2" doc="Simulated target x center"/>
    <arg name="target_y" default="2" doc="Simulated target y center"/>
    <arg name="target_radius" default="1" doc="Simulated target circle radius"/>
    <arg name="target_speed" default="0.1" doc="Simulated target speed"/>

    <include file="$(find softdrone_core)/launch/master.launch">

        <arg name="launch_fake_mavros_node" default="true"/>
        <arg name="launch_fake_observation_node" default="true"/>
        <arg name="launch_fake_target_node" default="true"/>
        <arg name="launch_polynomial_planner_node" default="true"/>
        <arg name="launch_grasp_state_machine_node" default="true"/>
        <arg name="launch_tracker_node" default="true" doc="Use EKF target tracker?" />
        <arg name="launch_robot_state_publisher" default="true" doc="Use robot state publisher to get static transform + mesh?"/>
        <arg name="launch_rviz" default="true"/>

    </include>

</launch>
